.nav{
    background-color: #00985C;
    color: #fff;
    width: 200px;
    height: 100vh;
    text-align: center;
    float: left;
}

.list{
    list-style: none;
    padding: 10px;
}

.logo{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted #fff;
}

.icon{
    height: 18px;
}

.iconArrow{
    height: 15px;
}

.category{
    margin: 10px 0px;
    width: 180px;
    height: 50px;
    display: flex;
    padding: 10px;
}

.campIcon{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campCategory{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center; 
}

.campCategory a{
    font-size: 18px;
    margin-left: 10px;
}

.campArrow{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}